@use "../../index.scss" as *;
footer {
  background-color: black;
  a {
    color: white;
    margin-bottom: 10px;
    text-decoration: underline;
  }
  p {
    color: white;
  }
}

.footer_wrapper {
  padding: 7rem 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  a {
    font-size: 2rem;
  }
  h1 {
    font-size: $large-heading;
    color: white;
    margin-bottom: 20px;
  }
  button {
    @include BUTTON(
      $primary-button-bg,
      $primary-button-hover-bg,
      $primary-button-fontSize,
      300px,
      $primary-button-h
    );
    margin-bottom: 20px;
  }
  p {
    width: 70%;
    text-align: center;
    margin-bottom: 20px;
  }
  strong {
    font-size: 1.4rem;
  }
}
