@use '../../index.scss' as *;
.card{
    text-align: center;
    .card_price{
        background-color: #5A5555 ;
        color:rgb(236, 236, 236);
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        h4{
            font-size: 1.2rem;
            padding: 1.5rem 0;
        }
        h1{
            font-size: $large-heading;
            padding-bottom: 1.6rem;
            small{
                font-size: medium;
            }
        }
    }
    .card_desc{
        background-color: white;
        padding: .8rem;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        p{
            padding: .5rem 0;
            font-size: .8rem;
            font-weight: bold;
        }
        button {
            @include BUTTON(
              $primary-button-bg,
              $primary-button-hover-bg,
              0.9rem,
              100px,
              $primary-button-h
            );
            margin-top: 20px;
          }
    }
}